## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
*.db
*.db-journal

## IDE
.idea/
.vscode/
*.swp

## OS
.DS_Store
Thumbs.db

## Build
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/

## NuGet
packages/
*.nupkg
project.lock.json
